*{
    margin: 0;
    outline: none;
    border: none;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #000000;
}

#conteiner{
    width: 84.0rem;
    height: 55.0rem;
    margin: 20.0rem auto 0rem auto;
    text-align: center;
}

h1{
    font-size: 13rem;
    color: #892CDC;
    text-align: left;
}

h2{
    font-size: 5.0rem;
    font-weight: lighter;
    color: #FFFFFF;
    text-align: left;
}

button{
    background-color: #892CDC;
    color: #FFFFFF;
    width: 40.0rem;
    height: 10.0rem;
    border-radius: 7.0rem;
    font-size: 4.0rem;
    font-weight: bold;
    margin-top: 10.0rem;
}

h3{
    font-size: 2.4rem;
    font-weight: normal;
    color: #FFFFFF;
    margin-top: 1.0rem;
}

#human{
    position: absolute;
    bottom: -9.5rem;
    right: 0%;
    z-index: 1;
}

#fundo{
    position: absolute;
    width: 100%;
    bottom: -9.5rem;
    z-index: 0;
}

a{
    color: #FFFFFF;
}

@media (max-width: 1620px){
    html{
        font-size: 50%;
    }
}

@media (max-width: 1320px){
    html{
        font-size: 40%;
    }
    #human{
        display: none;
    }
}

@media (max-width: 1020px){
    html{
        font-size: 30%;
    }
}

@media (max-width: 400px){
    html{
        font-size: 20%;
    }
}

@media (max-width: 270px){
    html{
        font-size: 15%;
    }
}