*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

#conteiner{
    width: min(100vw, 84.0rem);
    margin: auto;
    text-align: center;
    background-color: red;
}

 h1{
    font-size: 13rem;
    color: #892CDC;
    text-align: left;
}

h2{
    font-size: 5.0rem;
    font-weight: lighter;
    color: #FFFFFF;
    text-align: left;
}

button{
    background-color: #892CDC;
    color: #FFFFFF;
    width: min(100vw, 40.0rem);
    padding: 3rem;
    border-radius: 7.0rem;
    font-size: 4.0rem;
    font-weight: bold;
    margin-top: 10.0rem;
}

h3{
    font-size: 2.4rem;
    font-weight: normal;
    color: #FFFFFF;
    margin-top: 1.0rem;
}

a{
    color: #FFFFFF;
}

@media (max-width: 880px){
    html{
        font-size: 50%;
    }
}

@media (max-width: 720px){
    html{
        font-size: 40%;
    }
}

@media (max-width: 590px){
    html{
        font-size: 30%;
    }
}

@media (max-width: 450px){
    html{
        font-size: 20%;
    }
}

@media (max-width: 310px){
    html{
        font-size: 15%;
    }
}